<div class="container">
    <form [formGroup]="editCommentForm">
        <div class="form-group">
            <label for="text">Comment Text</label>
            <input type="text" class="form-control" id="text" name="text" placeholder="Edit the text"
                formControlName="text">
            <span *ngIf="errorMessages.text" class="text-danger"><small>{{errorMessages.text}}</small> </span>
        </div>
        <button type="submit" class="btn btn-warning" (click)="editComment()">Edit Comment</button>
    </form>
</div>
